# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python dependencies
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# TypeScript compiled outputs
backend-sockets/dist/

# Flutter / Dart / Mobile
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.so
*.ipa
*.apk

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
